.post{
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
  }

  .post img{
    max-width: 100%;
    transition: transform 100ms ease-in-out;
  }
  
  .post:hover{
    transform: scale(1.05);
  }

  .post-content{
    padding: 30px;
  }
  